{
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "react/prop-types": 0,
    "react/jsx-no-undef": ["error", { "allowGlobals": true }],
    "react/jsx-pascal-case": ["error", { "ignore": ["index.js"] }],
    "import/prefer-default-export": "off",
    "padding-line-between-statements": [
      "warn",
      { "blankLine": "always", "prev": "*", "next": "return" }
    ],
    "react/destructuring-assignment": ["warn", "always"],
    "prefer-destructuring": ["error", { "object": true, "array": false }],
    "quotes": ["error", "double"],
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "assert": "htmlFor"
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "linebreak-style": [0, "error", "windows"],
    "import/extensions": "off",
    "no-unused-vars": "warn",
    "react/jsx-indent": "off",
    "react/no-array-index-key": "off",
    "max-len": [
      1,
      {
        "code": 90,
        "ignoreTemplateLiterals": true,
        "ignoreUrls": true
      }
    ],
    "prefer-template": "off",
    "no-debugger": "off"
  }
}
